---
import Link from "../components/Link.astro";
import Layout from "../layouts/Default.astro";

const tldr = [
  "Over a decade of experience in both design and engineering at startups",
  "Can take your idea from zero to production",
  "Work best with early-stage and creative projects where I can make impact",
  "Being autistic, I prefer async communication and clear documentation",
  "Prefer North American timezones if real-time collaboration is required",
  "Intuition over indecision, curiosity over conformity",
  "Project-based, day rate, or retainer pricing options",
];
---

<Layout title="Freelance | Sam King">
  <article class="markdown space-y-2lh">
    <section>
      <h2 class="font-bold">Availability</h2>
      <p class="text-secondary-foreground">
        Taking on select projects due to limited availability.
      </p>
      <p class="text-secondary-foreground">
        I'd love to hear about your idea or what you're building. Send an email to <Link
          href="mailto:mail@samking.co">mail@samking.co</Link
        > to see how I can work with you.
      </p>
    </section>

    <section>
      <h2 class="font-bold">TLDR;</h2>
      <ul class="text-secondary-foreground list-square pl-1.5 space-y-0.5">
        {
          tldr.map((item) => (
            <li>
              <p>{item}</p>
            </li>
          ))
        }
      </ul>
    </section>

    <section>
      <h2 class="font-bold">What I do</h2>
      <p class="text-secondary-foreground">
        I help early-stage teams turn their ideas into reality. With over a decade of experience in
        both design and engineering at startups, I can handle everything from initial concepts
        through to production code. This dual expertise means I understand both the user experience
        and technical implementation details, often catching potential issues before they become
        problems.
      </p>

      <p class="text-secondary-foreground">
        I've worked with teams building creative tools, community platforms, games, and more. Most
        recently, I've been building <Link href="https://refrakt.app" withIcon={false}>Refrakt</Link
        >&mdash;a photo sharing platform that gives photographers a more intimate and authentic
        space to connect and share their work.
      </p>
    </section>

    <section>
      <h2 class="font-bold">How I work</h2>
      <p class="text-secondary-foreground">
        I value intuition over indecision, and curiosity over conformity. My experience allows me to
        trust my instincts while remaining open to new perspectives.
      </p>

      <p class="text-secondary-foreground">
        I take a thoughtful, systematic approach to projects. I'll ask lots of questions upfront to
        deeply understand your needs, and I'll keep you updated on progress through written updates
        and video walkthroughs. These are usually 5 to 15 minutes long, where I can show you what
        I've built and explain my thinking.
      </p>

      <p class="text-secondary-foreground">
        While I'm happy to jump on calls when needed, I find I do my best work when I can focus
        deeply without interruption. This means fewer meetings, but more meaningful updates and
        clearer documentation. I typically share progress at the end of each day or when a
        worthwhile milestone is hit, giving you time to review and provide feedback asynchronously.
      </p>

      <p class="text-secondary-foreground">
        My schedule isn't the typical 9-5. I prefer to work when I'm most productive, which tends to
        be afternoons and evenings. Working asynchronously means timezone differences aren't usually
        an issue, but if you need more real-time collaboration, North American timezones work best.
      </p>
    </section>
  </article>
</Layout>
