---
import { Image } from "astro:assets";
import avatarImage from "../assets/avatar.jpg";
import Link from "../components/Link.astro";
import Layout from "../layouts/Default.astro";
---

<Layout title="Sam King">
	<section class="space-y-5">
		<article aria-label="Introduction" class="space-y-5">
			<Image
				src={avatarImage}
				alt="Sam King"
				class="w-full h-auto max-w-24"
				loading="eager"
				width="96"
				height="96"
			/>
			<p>
				I'm a freelance software engineer and designer with over 15 years of
				experience at various startups across a range of industries. I'm not
				currently available for new projects, but I'm always open to hearing
				about potential collaborations.
			</p>
			<p>
				When I'm not working, I'm usually out exploring with my camera, making
				friends with the local crows, and building games or working on numerous
				unfinished side projects.
			</p>
		</article>

		<article>
			<h3 class="text-muted-foreground">Core values</h3>
			<p>Honesty, authenticity, curiosity, veganism, socialism.</p>
		</article>

		<article>
			<h3 class="text-muted-foreground">Big fan of</h3>
			<p>Old growth forests & mountains, crows, Alexisonfire.</p>
		</article>

		<article>
			<h3 class="text-muted-foreground">Email</h3>
			<p>
				<Link href="mailto:mail@samking.co" rel="me"> mail@samking.co </Link>
			</p>
		</article>

		<article>
			<h3 class="text-muted-foreground">Slashes</h3>
			<ul>
				<li>
					<Link href="/now" rel="me">/now</Link>
				</li>
				<li>
					<Link href="/freelance" rel="me">/freelance</Link>
				</li>
				<li>
					<Link href="/journal" rel="me">/journal</Link>
				</li>
				<li>
					<Link href="/links" rel="me">/links</Link>
				</li>
				<li>
					<Link href="/cv" rel="me">/cv</Link>
				</li>
			</ul>
		</article>
	</section>
</Layout>
