---
import Link from "../components/Link.astro";

interface Props {
  label: string;
  href: string;
  linkLabel: string;
}

const { label, href, linkLabel } = Astro.props;
---

<div class="flex gap-0.25 sm:gap-2 items-baseline">
  <dt
    class="w-full max-w-[var(--left-col-width)] text-sm text-muted-foreground tabular-nums slashed-zero"
  >
    {label}
  </dt>
  <dd class="flex-1"><Link href={href}>{linkLabel}</Link></dd>
</div>
