---
interface Props {
	label: string;
}

const { label } = Astro.props;
---

<article class="flex gap-0.25 sm:gap-2 items-baseline">
  <h3
    class="w-full max-w-[var(--left-col-width)] text-sm text-muted-foreground tabular-nums slashed-zero"
  >
    {label}
  </h3>
  <section class="flex-1">
    <slot />
  </section>
</article>
