---

---

<div
  class="prose
  leading-normal
  prose-a:underline
  prose-a:underline-offset-[0.2em]
  prose-a:decoration-border
  prose-a:text-primary-foreground
  hover:prose-a:decoration-primary-foreground
  motion-safe:prose-a:transition-colors"
>
  <slot />
</div>
